@charset "UTF-8";


@font-face {
    font-family: 'gowf';
    src: url('fontes/GODOFWAR.TTF') format('truetype');
    font-weight: normal;
}
   


/*

--cor01:#001EFF;
    --cor002:#BCBECA;
    --cor03:#0015B3;
    --cor04:#00098F;
#001EFF
#BCBECA
#0015B3
#00098F




*/


:root{
    --fonte-gow:'gowf';
    --cor01:#001EFF;
    --cor002:#BCBECA;
    --cor03:#0015B3;
    --cor04:#00098F;
}   

*{
    margin: 0px;
    padding: 0px;
}


header{
   
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor04));
    min-height: 150px;
    text-align: center;
    padding-top: 100px;
   
    
    
    
}

header h1{
    
   
    color: white;
    
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: normal;
   padding-left: 10px;
   padding-right: 10px;
    
    text-align: center;
    font-family: var(--fonte-gow);
    
    text-shadow: 0px 4px 0px rgb(0 0 0 / 35%)
    
    
    
    
}

header > p{
    text-align: center;
    font-family: var(--fonte-gow);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    max-width: 600px;
    margin: auto;
    text-shadow: 0px 4px 0px rgb(0 0 0 / 35%)
    
}

nav{
   background-color: var(--cor04);
   padding: 10px;
   font-family: var(--fonte-gow);
   text-shadow: 0px 4px 0px rgb(0 0 0 / 35%)
   
   
}

nav > a {
    color: white;
    padding: px;
    border-radius: px;
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.5s;
    
}

nav>a:hover{
    background-color:var(--cor01);
}

body{
    background-color:var(--cor002) ;
}

main{
    
    
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
    
    
}

main h1{
    
    font-family: var(--fonte-destaque);
    font-family: 'gowf';
    padding-top: 50px;
}

main h2{
   
    padding-top: 100px;
    
   font-family: var(--fonte-gow);
   font-size: 1.6em;
   
   
}

main h3{
    padding: 10px;
    font-family: var(--fonte-gow);
    font-size: 1.3em;
}

main p{
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
    line-height: 1.6em;
    text-decoration-style: solid;
    text-indent: 30;
   
    
}

main img{
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    
  

}

footer{
    background-color: lightgray;
    padding: 3px;
    text-align: center;
    margin-top: 30px;
}

div{
    padding-top: 20px;
    padding-bottom: 54.3%;
    position:relative;
}

div > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
